<div class="container mt-5">
  <h1>Job Postings</h1>
  <%= link_to 'Search Jobs', job_search_path %>

  <!-- Loop through job postings and display them -->
  <% @job_postings.each do |job_posting| %>
    <div class="job-posting">
      <h2><strong>Title:</strong> <%= job_posting.title %></h2>
      <p><strong>Company:</strong> <%= job_posting.company_name %></p>
      <p><strong>Description:</strong> <%= job_posting.description %></p>
      
      <!-- Link to save job -->

      <%= link_to 'Save Job', new_job_seeker_saved_job_path(job_seeker_id: @current_job_seeker.id, job_posting_id: job_posting.id), method: :post, class: 'btn btn-primary' %>
      <%# <%= link_to 'Save Job', saved_jobs_path(job_seeker_id: @current_job_seeker.id, job_posting_id: job_posting.id), method: :post, class: 'btn btn-primary' %> %>
      <!-- Link to unsave job -->
      <%= link_to 'Unsave Job', job_seeker_saved_job_path(job_seeker_id: @current_job_seeker.id, id: job_posting.id), data:{turbo_method: :delete}, class: 'btn btn-danger' %>
      
      <!-- Add other job posting details here -->
    </div>
  <% end %>

  <!-- Link to the index page of saved jobs -->
  <%= link_to 'View Saved Jobs', job_seeker_saved_jobs_path(job_seeker_id: @current_job_seeker.id), class: 'btn btn-success' %>

  <div class="pagination">
    <%= will_paginate @job_postings %>
  </div>
</div>
