<div class="container mt-5">
  <h1 class="mb-4">Company Job Postings</h1>

  <div class="row">
    <% @job_postings.each do |job_posting| %>
      <% if job_posting.status == 'approved' %>
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title"><%= job_posting.title %></h2>
              <p class="card-text"><strong>Company:</strong> <%= job_posting.company_name %></p>
              <p class="card-text"><strong>Description:</strong> <%= job_posting.description %></p>
              <p class="card-text"><strong>Location:</strong> <%= job_posting.location %></p>
              <p class="card-text"><strong>Salary:</strong> <%= job_posting.salary %></p>

              <%= link_to "View Applicants", company_profile_job_posting_view_applicants_path(company_profile_id: job_posting.company_profile.id, job_posting_id: job_posting.id), class: "btn btn-success mr-2" %>

              <%= link_to "Delete Job Posting",
                company_profile_job_posting_path(job_posting.company_profile, job_posting),
                method: :delete,
                data: {
                  turbo_confirm: "Are you sure you want to delete this job posting?",
                  turbo_method: :delete,
                  turbo_frame: 'job_postings'
                },
                class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
