<div id="search_results">
  <!-- The Turbo Stream will replace this with the search results -->
  <div class="col-md-8 mb-4">
    <div class="card">
      <!-- ... Job posting content ... -->
      <div class="row justify-content-center">
        <% @job_postings.each do |job_posting| %>
          <% if job_posting.status == 'approved' %>
            <div class="col-md-8 mb-4">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title"><strong>Title:</strong> <%= job_posting.title %></h2>
                  <p class="card-text"><strong>Company:</strong> <%= job_posting.company_name %></p>
                  <p class="card-text"><strong>Description:</strong> <%= job_posting.description %></p>
                  <p class="card-text"><strong>Salary:</strong> <%= job_posting.salary %></p>
                  <p class="card-text"><strong>Location:</strong> <%= job_posting.location %></p>

                  <!-- Link to save job -->
                  <%= link_to 'Save Job', save_job_seeker_saved_job_path(job_seeker_id: current_user.job_seeker.id, id: job_posting.id), method: :post, class: 'btn btn-primary'%>

                  <!-- Link to unsave job -->
                  <%= link_to 'Unsave Job', job_seeker_saved_job_path(job_seeker_id: current_user.job_seeker.id, id: job_posting.id), data: { turbo_method: :delete }, class: 'btn btn-danger'%>

                  <!-- Link to apply job -->
                  <%= link_to 'Apply Job', new_job_application_path(job_posting_id: job_posting.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#ApplYJobmodal-window', class: 'btn btn-primary'}  %> 
                <div id="ApplYJobmodal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content"></div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
